{
     "arrowParens": "always",
     "objectWrap": "preserve",
     "bracketSpacing": true,
     "semi": true,
     "bracketSameLine": true,
     "singleQuote": true,
     "jsxSingleQuote": false,
     "singleAttributePerLine": true,
     "htmlWhitespaceSensitivity": "css",
     "printWidth": 80,
     "tabWidth": 5,
     "embeddedLanguageFormatting": "auto"
}
